body {
    background-image: url('https://i.natgeofe.com/k/8fa25ea4-6409-47fb-b3cc-4af8e0dc9616/red-eyed-tree-frog-on-leaves-3-2_4x3.jpg');
}

#buttonContainer {
    width: 100%;
    padding: 2% 5% 0 5%;
}

.listButton {
    width: 200px;
    height: 112.5px;
    border-radius: 115px;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px) url(#myFilter);
    border: 1px solid rgba(255,255,255,.1);

    transition: all 0.4s;
    filter: url(#myFilter);
}

.listButton:hover {
    transform: scale(1.05, 1.05);
}
